<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>


  <connectionStrings>
    <add name="CustomPermissionConnectionString" connectionString="Data Source=.; initial catalog=CustomPermission; ultipleactiveresultsets=True;connect timeout=120; application name=EntityFramework; User Id=JavadWarehouseCreator;Password=GharehWarehouseCreator;" providerName="System.Data.SqlClient" />
    <add name="CustomPermissionWarehouseContext" connectionString="Data Source=.; Initial Catalog=CustomPermission; MultipleActiveResultSets=True;connect timeout=120; Enlist=false; User Id=JavadWarehouseCreator;Password=GharehWarehouseCreator;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>